* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
}

navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80px;
	background: linear-gradient(180deg, #000000, 60%, #000000);
	z-index: 99;
}

avatar {
	position: absolute;
	top: 10px;
	left: 20px;
	border-radius: 50%;
	border: solid 1.5px white;
	background-image: url("../assets/profile.jpg");
	height: 60px;
	width: 60px;
	background-size: 60px 60px; 
}


content {
	position: relative;
	margin-top: 80px;
	width: 100vw;
	display: block;
}

infobar {
	position: relative;
	width: 100%;
	height: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: grey;
	display: inline-block;
}

infobar .barContainer {
	position: absolute;
	background-color: rgb(60,66,69);
	height: 100%;
	width: 70%;
	left: 30%;
	top: 0;
	display: block;
}
infobar .barContainer bar {
	position: absolute;
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	height: 70%;
	background: rgb(19,184,20);
	top: 15%;
	border-radius: 5px;
	text-align: center;
	color: white;
	font-size: 20px;
	letter-spacing: 0.5px;
	font-family: "Lucida Console";
	box-shadow: 0 0 15px rgba(120,120,120,0.7);
}
ratio {
	position: absolute;
	text-align: center;
	margin-top: 20px;
}


infobar info {
	position: absolute;
	width: 30%;
	height: 100%;
	left: 0;
	top: 0;
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgb(164,204,232);
	font-size: 50px;
	font-family: "Lucida Console"
}

infobar img {
	height: 50px;
	margin-left: 30px;
	margin-top: 20px;
	transition: transform 2s;
	box-shadow: 0 0 15px rgba(120,120,120,0.7);
	border-radius: 50%;
}
infobar img:hover {
	height: 50px;
	margin-left: 30px;
	margin-top: 20px;
	transform: rotate(180deg);
	cursor: pointer;
}

navbar name {
	position: absolute;
	color: white;
	top: 35px;
	left: 100px;
	font-family: "Lucida Console";
	letter-spacing: 0.5px;
}



